/* Mark Tobler for CSE340 */

:root {
   --white: #ffffff;
   --near_black: #3a3a3a;
   --blue: #4c96d7;
   --light_blue: #a6cbeb;
   --dark_gray: #8b8b8b;
   --gray: #bababa;
   --light_gray: #f0f0f0;
   --dark_blue: #0875d4;
   --darker_blue: #065eaa;
   --neon_black: #4f4f4f;
   --error: #aa0621;
   --success: #06a621;
   --title_font: 'New Tegomin', serif;
   --body_font: 'Ubuntu', sans-serif;
}

/* fonts */

/* font-family: 'New Tegomin', serif; */

/**
NEW STUFF WEEK10 from activities. You may or may not want this
*/

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   display: flex;
   flex-direction: column;
   font-family: var(--body_font);
   color: var(--near_black);
   background-image: url("/phpmotors/images/site/checkerboard.jpg");
   background-repeat: repeat;
   background-size: 50%;
   justify-content: center;
   min-width: 320px;
}

body>div {
   background-color: var(--white);
   margin: .5em;
   border: 4px solid var(--blue);
   align-self: center;
   min-width: 320px;
}

h1 {
   font-family: var(--title_font);
   flex-grow: 5;
   width: 86vw;
   font-size: 1.85em;
   margin: 0.2em 0em -0.1em 0.3em;
   color: var(--dark_blue);
   font-variant-caps: petite-caps;
   /* text-shadow:   0 0 7px black,
                  0 0 10px var(--near_black),
                  0 0 21px var(--near_black),
                  0 0 42px var(--neon_black); */
   /* 0 0 82px var(--neon_black) */
   /* 0 0 92px var(--neon_black) */
   /* 0 0 102px var(--neon_black) */
   /* 0 0 151px var(--neon_black) */
   /* color: rgba(0,0,0,0.6); */
   text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

h2 {
   font-family: var(--title_font);
   color: var(--near_black);
   flex-grow: 5;
}

h3 {
   color: var(--dark_blue);
   font-family: var(--title_font);
   font-weight: bold;
   margin-bottom: -1em;
   /* margin-block-end: -.7em; */
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

header>.container {
   justify-content: space-between;
}

header>.container>img {
   align-self: start;
   max-width: 25%;
}

.login {
   align-self: flex-end;
   align-content: space-around;
   font-family: var(--body_font);
   /* font-size: 1em; */
   font-size: 80%;
   margin-right: 1.5em;
}

nav {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: left;
   background-color: var(--near_black);
   /* width: min-content; */
   font-size: 85%;
}

nav>div {
   margin: 1em;
   /* font-family: var(--title_font); */
   font-weight: bold;
   font-size: 80%;
   color: var(--white);
   /* transition: font-size 1s; */
   /* transition: margin .01s; */
}

nav>div:hover {
   background-color: var(--blue);
   /* font-size: 90%;  */
   outline-color: var(--blue);
   color: var(--near_black);
   cursor: default;
   font-family: var(--title_font);
   margin: .75em;
   transform: scale(1.15);
}

footer {
   font-size: x-small;
   text-align: center;
   border-top: 2px solid;
   padding: 0em 1em;
}

a {
   text-decoration: none;
   color: inherit;
}

.hero_img {
   width: 85%;
   /* margin: -1rem; */
}

section {
   display: flex;
   /* flex-direction: row; */
   flex-direction: column;
   flex-wrap: wrap;
}

article {
   /* width: 80vw; */
   width: 80%;
   margin: auto;
   /* margin: 0; */
   font-size: small;
   color: var(--dark_blue);
}

#delorean {
   background-image: url("/phpmotors/images/vehicles/delorean.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position-y: center;
   /* background-position-x: x-end; */
}

article>p {
   align-self: flex-start;
   /* left:20%; */
}

article>input {
   border: 1px;
   max-width: 30vw;
   align-self: flex-end;
   order: 5;
   padding-left: 22vw;
   padding-top: 43%;
}

.upgrades {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}

.upgrades>div>div {
   text-align: center;
   width: 30vw;
   height: 15vh;
   margin: auto;
   padding: .5em;
   background-color: var(--dark_blue);
}

.upgrades a {
   text-decoration: none;
   color: var(--white);
}

article>div>img {
   /* width: 30vw; */
   height: 13vh;
   margin: auto;
}

.wrap_container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}

#inv-display {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}

#inv-display li {
   margin-bottom: .5em;
   border: 1px #ccc solid;
   list-style-type: none;
   flex: 1 1 auto;
}

#inv-display li img {
   max-width: 100%;
}

@media screen and (min-width: 480px) {
   article>input {
      border: 1px;
      max-width: 12vw;
      align-self: flex-start;
      order: 5;
      padding-left: 0vw;
      padding-top: 0%;
   }
   #delorean {
      background-image: url("/phpmotors/images/vehicles/delorean.jpg");
      /* background-size: 75%; */
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      width: 90vw;
      height: 40vh;
      /* background-position-x: x-end; */
   }
   article {
      width: 40%;
   }
   .wrap_container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .reviews {
      align-self: flex-start;
      order: 2;
      margin: 0;
   }
   .upgrades {
      order: 1;
   }

   /* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
   }
   
}

legend {
   font-weight: bold;
}

form {
   padding: .5rem;
   min-width: 270px;
}

form legend, form label {
   color: var(--dark_blue);
}

form label {
   font-weight: bold;
   font-size: 0.8rem;
}

form select {
   background-color: var(--light_gray);
   color: var(--darker_blue);
   font-family: var(--body_font);
}

button {
   font-family: var(--title_font);
   font-weight: 900;
   color: var(--darker_blue);
   background-color: var(--light_gray);
   border-width: 2px;
   margin: .25rem;
   border-style: solid;
   border-color: var(--light_blue);
}

.tinyButton {
   font-weight: 300;
   border-width: 1px;
   margin: 0px;
   font-size: .5em;
}

.activeLink {
   color: var(--dark_blue);
   margin-left: .5rem;
   font-size: smaller;
}

.registering {
   font-family: var(--title_font);
   /* text-decoration: underline; */
   font-size: larger;
   font-weight: 900;
   color: var(--darker_blue);
}

em {
   font-size: smaller;
   color: var(--dark_blue);
}

/* #updatePasswordForm_p */

em+p {
   font-size: smaller;
   font-style: normal;
   color: var(--near_black);
   margin-top: 0.2em;
   margin-bottom: 0.2em;
}

.err {
   font-family: var(--title_font);
   font-size: small;
   font-weight: 900;
   color: var(--error);
   margin: -0.4em 0em -1.1em 0.8em;
   width: 60vw;
}

.err>div {
   font-family: var(--title_font);
   font-size: small;
   color: var(--success);
}

.whoa {
   font-size: xx-small;
}

#addInventoryForm input, #addInventoryForm textarea {
   margin-bottom: .5em;
   width: 60vw;
   font-family: var(--body_font);
}

#addInventoryForm textarea {
   /* rows="3" cols="30" */
   height: auto;
   /* width: 60vw; */
}

th {
   font-family: var(--title_font);
   color: var(--near_black);
   text-align: start;
   text-decoration: underline;
}

td {
   color: var(--near_black);
}

td>a {
   color: var(--dark_blue);
}

.info {
   margin: 1em;
   color: var(--near_black);
}